
[data-testid="stAppViewContainer"] {background-color:#f2f2f2;}

[data-testid="stHeader"] {background-color:#4da6ff;}

[data-testid="stSidebar"] {background-color: #80bfff;}

.st-b7 {color: #330000;}

.st-at,.st-emotion-cache-10trblm, .st-emotion-cache-1kyxreq {color:#0059b3;}

a {color:  #4d3319;}
